.header {
    z-index: 1000;
    height: 100px;
    width: 100%;
    background: antiquewhite;
    display: flex;
    justify-items: center;
    align-items: center;
}

.header__logo img {
    height: 60px;
 padding: 15px;
}

.header__locale {
    position: relative;
}
.header__locale li {
    position: relative;
    cursor: pointer;
}

.header__locale--chosed {
    font-weight: bold;
}

.country {
    display: flex;
}
.country__img{
    width: 40px;
    height: 20px;
}